
@{
    ViewData["TitleForm"] = "Forgot Password Confirmation";
    Layout = "_LayoutAccount.cshtml";
}

<div class="container" style="width: 400px">
    <div class="text-center">
        <a asp-action="" asp-controller="">
            <img src="~/Logo.jpg" class="rounded-pill mb-2" style="height:15vh" />
        </a>
        <p class="display-6 text-center">Forgot Password</p>
    </div>
    <div class="border border-1 rounded-3 shadow shadow-sm bg-opacity-50 p-4 pb-2 bg-body-secondary small">
        <p class="text-center">
            @Localizer["CheckYourEmail"]
        </p>
    </div>
</div>