@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutAccount.cshtml";
}

<div class="container" style="width: 400px">
    <div class="text-center">
        <a asp-action="" asp-controller="">
            <img src="~/logo.png" class="rounded-pill mb-2" style="height:15vh" />
        </a>
        <p class="display-6 text-center" style="font-size:2rem;">Forgot Password</p>
    </div>
    <div class="border border-1 rounded-3 shadow shadow-sm bg-opacity-50 p-4 bg-body-secondary small">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="mb-2">
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Recover</button>
            </div>
        </form>
    </div>
</div>